.expense-history {
    margin-top: 20px;
    overflow-x: auto;
  }

  .expense-history h3{
    color: white;
  }
  
  .expense-history table {
    width: 300px;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .expense-history th,
  .expense-history td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .expense-history th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .expense-history td {
    background-color: white;
  }
  
  .expense-history tr:hover {
    background-color: #f1f1f1;
  }